<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KB Python API -poc-</title>
		<link rel="stylesheet" href="/static/css/vind.css">
	</head>
	<body>
		<h1>Vinden</h1>
		<form method="GET" action="/vind">
			<select name="bron">
				{% for bron in sources %}
				<option value="{{bron}}"  {%if (bron == selected) %} selected=true {%endif%} >{{bron}}</option>
				{% endfor %}
			</select>
			<input type="text" size="40" name="q" id="q" value="{{q|default('')}}">
			<br />
			<input type="submit" value="Vind!">
		</form>
		{% if results is defined %}
		     <h2>Aantal resultaten: {{response.sru.nr_of_records}}</h2>
		     {% for result in results %}
		       <div class="result">
		       <span class="count">{{loop.index}}</span>
		       <em>title</em> {{result.titles|default('-')}} <br>
		       <em>datum</em> {{result.dates|default('-')}} <br>
		       <em>ident</em> <a href="{{result.identifiers|default('-')}}">{{result.identifiers|default('-')}}</a></a></a> <br>
		       <em>abstract</em> {{result.abstracts|default('-')}} <br>
		       <em>summary</em> {{result.fulltext|default('-')}}
		       </div>
		     {% endfor %}
		{% elif q %}
		 <div class="result">Niets gevonden</div>
		{% endif %}
	</body>
</html>