<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KB Python API -poc-</title>
	</head>
	<body>
		<h1>Vinden</h1>
		<form method="GET" action="/vind">
			<select name="bron">
				{% for bron in sources %}
				<option value="{{bron}}">{{bron}}</option>
				{% endfor %}
			</select>
			<input type="text" size="40" name="q" id="q">
			<br />
			<input type="submit" value="Vind!">
		</form>
		{% if results is defined %}
		     <h2>Aantal resulaten: {{response.sru.nr_of_records}}</h2>
		     {% for result in results %}
		       {{loop.index}}
		       <em>datum</em> {{result.dates|default('-')}} <br>
		       <em>ident</em> {{result.identifiers|default('-')}} <br>
		       <em>abstract</em> {{result.abstract|default('-')}} <br>
		       <em>title</em> {{result.titles|default('-')}} <br>
		       <em>summary</em> {{result.fulltext|default('-')}}
		     {% endfor %}
		{% endif %}
	</body>
</html>