<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>KB Python API -poc-</title>
		<link rel="stylesheet" href="/static/css/vind.css">
	</head>
	<body>
		<h1>Vinden</h1>
		<form method="GET" action="/vind">
			<select name="bron">
				{% for bron in sources %}
				<option value="{{bron}}"  {%if (bron == selected) %} selected=true {%endif%} >{{bron}}</option>
				{% endfor %}
			</select>
			<input type="text" size="40" name="q" id="q" value="{{q|default('')}}">
			<br />
			<input type="submit" value="Vind!">
		</form>
		{% if results is defined %}
		     <h2>Aantal resultaten: {{response.sru.nr_of_records}}</h2>
		     {% for result in results %}
		       <div class="result">
		       <span class="count">{{loop.index}}</span>
		       <strong>{{result.titles|default('(no title)')}} </strong> &ndash;
		       {{result.dates|default(' (unknown) ')}} <br>
		       <a href="{{result.identifiers|default('-')}}">{{result.identifiers|default('-')}}</a> <br>
		       {% if result.abstracts > '' %}
		         <p>{{result.abstracts}} </p>
		       {% endif %}
		       {% if result.fulltext is defined and result.fulltext > '' %}
		         <p> {{result.fulltext|safe}} </p>
		       {% endif %}
		       </div>
		     {% endfor %}
		{% elif q %}
		 <div class="result">Niets gevonden</div>
		{% endif %}
	</body>
</html>